solar-tracker-proto-cloud/pi/node-red-solar-tracker-proto-flow.json
[
  {
    "id": "stp_tab",
    "type": "tab",
    "label": "Solar Tracker Proto bridge",
    "disabled": false,
    "info": "Solar Tracker Proto — import in Node-RED (Menu → Import). Assign MQTT broker (Mosquitto). Maps HTTP duration_sec → MQTT validFor."
  },
  {
    "id": "http_cmd_in",
    "type": "http in",
    "z": "stp_tab",
    "name": "POST /mqtt/cmd",
    "url": "/mqtt/cmd",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 200,
    "wires": [["fn_cmd_split"]]
  },
  {
    "id": "fn_cmd_split",
    "type": "function",
    "z": "stp_tab",
    "name": "build MQTT + HTTP reply",
    "func": "const incoming = msg.payload;\nlet body = incoming;\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); }\n  catch (e) {\n    const r = { payload: { ok: false, error: 'invalid JSON' }, statusCode: 400, req: msg.req };\n    return [null, r];\n  }\n}\nconst id = body.device_id;\nconst st = body.state;\nif (!id || !st) {\n  return [null, { req: msg.req, statusCode: 400, payload: { ok: false, error: 'device_id and state required' } }];\n}\nconst mqttPayload = { state: st };\nif (body.duration_sec != null) mqttPayload.validFor = Number(body.duration_sec);\nif (body.validFor != null) mqttPayload.validFor = Number(body.validFor);\nif (body.validUntil != null) mqttPayload.validUntil = Number(body.validUntil);\nconst topic = 'devices/' + id + '/cmd';\nconst toBroker = { topic, payload: mqttPayload };\nconst toHttp = {\n  req: msg.req,\n  statusCode: 200,\n  headers: { 'Content-Type': 'application/json' },\n  payload: { ok: true, topic, forwarded: mqttPayload }\n};\nreturn [toBroker, toHttp];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 200,
    "wires": [["mqtt_pub"], ["http_res_cmd"]]
  },
  {
    "id": "mqtt_pub",
    "type": "mqtt out",
    "z": "stp_tab",
    "name": "publish cmd",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "",
    "x": 640,
    "y": 160,
    "wires": []
  },
  {
    "id": "http_res_cmd",
    "type": "http response",
    "z": "stp_tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 240,
    "wires": []
  },
  {
    "id": "mqtt_tel_in",
    "type": "mqtt in",
    "z": "stp_tab",
    "name": "devices/+/telemetry",
    "topic": "devices/+/telemetry",
    "qos": "0",
    "datatype": "utf8",
    "broker": "",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 420,
    "wires": [["fn_store_tel"]]
  },
  {
    "id": "fn_store_tel",
    "type": "function",
    "z": "stp_tab",
    "name": "global last telemetry",
    "func": "const parts = msg.topic.split('/');\nconst id = parts.length > 1 ? parts[1] : '';\nlet data = msg.payload;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); }\n  catch (e) { data = { raw: data }; }\n}\nglobal.set('lastTelemetry_' + id, data);\nreturn null;",
    "outputs": 0,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 420,
    "wires": []
  },
  {
    "id": "http_status_in",
    "type": "http in",
    "z": "stp_tab",
    "name": "GET /api/device/status",
    "url": "/api/device/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 560,
    "wires": [["fn_status_out"]]
  },
  {
    "id": "fn_status_out",
    "type": "function",
    "z": "stp_tab",
    "name": "read global → JSON",
    "func": "const id = msg.req.query.device_id;\nif (!id) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false, error: 'device_id query required' };\n  return msg;\n}\nconst row = global.get('lastTelemetry_' + id);\nif (row == null) {\n  msg.statusCode = 404;\n  msg.payload = { ok: false, error: 'no telemetry yet for ' + id };\n  return msg;\n}\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = row;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 560,
    "wires": [["http_res_status"]]
  },
  {
    "id": "http_res_status",
    "type": "http response",
    "z": "stp_tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 720,
    "y": 560,
    "wires": []
  }
]
